.img-appartamento {
    border-top-left-radius: $radious;
    border-bottom-left-radius: $radious;
}

#descrizione_appartamento {
    min-height: 50px;
}

.apartment-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    box-shadow: 3px 1px 4px 0px rgba(0, 0, 0, 0.1);
    padding-left: 0;
    border-radius: $radious;

}

img-wrap {
    height: 100%;
    width: 100%;
    padding-left: 0;
}

#img-wrap {
    padding-left: 0;
    border-top-left-radius: $radious;
    border-bottom-left-radius: $radious;
}


