#selettore-footer{
    border-top: 1px solid black;

        a:hover{
            color: black;
            text-decoration: underline;
        }

        a{
            font-size: 11px;
        }

        h6, .h6 {
            font-size: 1.4rem;
        }


}
