#selettore-footer{
    border-top: 2px solid rgba(0, 0, 0, 0.1);

        a:hover{
            color: #f9423a;
            text-decoration: underline;
        }

        a{
            font-size: 11px;
        }

        h6, .h6 {
            font-size: 1.4rem;
        }

        #icone-footer a i{
            font-size: 17px;
        }
}
