.profile-wrapper    {
    background-color: $background;
    color: $font_color_dark;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 3px 1px 4px 0px rgba(0, 0, 0, 0.1);
    padding-left: 0;
    padding-right: 0;
    border-radius: $radious;


}

#immagine-profilo   {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $bg_active_hover;
}

.form-control-caricafoto    {
    color: $colore_primario;
    background-color: #feeceb;
    border: 1px solid #feeceb;
    padding: 8px 8px;

    border-radius: 7px;
    height: 40px;

}

@media (max-width: 992px) {
    #immagine-profilo {
        border-right: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}
