#btn-cerca  {
    height: 40px;
    width: 75px;
    font-size: 14px;
    align-self: end;
    color: #feeceb;
    background-color: $colore_primario;
    border: 1px solid $colore_primario;
    border-radius: 7px;

    &:hover {
        background-color: #ea0b0b;
        transition: 0.5s;
    }
}

.label-ricerca  {
    color: $font_color_dark;
}

.ap-input{
    color: $font_color_dark;
    border: 1px solid $colore_primario;
    position: relative;
    vertical-align: top;
    width: 100%;
    padding: 10px;
    border-radius: 7px;
    height: 40px;

}

.card   {
    border-radius: $radious !important;
}

.card-img-top    {
    border-top-left-radius:  $radious !important;
    border-top-right-radius:  $radious !important;
}

// .ap-icon-pin svg    {
//     fill: $font_color;
//
// }
//
// #form-address:hover svg {
//     fill: $colore_primario;
// }
//
// .ap-input-icon:hover svg {
//     fill: $colore_primario;
// }
