body{
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: black;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

/* Side Bar*/



#sidebar.active {
    margin-left: -250px;
}
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 250px;
	max-width: 250px;
	background: $menu_bg_color;
	color: $font_color;
	transition: all 0.3s;
}


#sidebar .sidebar-header{
	padding: 20px;
	background: $menu_bg_color;
}
#sidebar ul.components{
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

#sidebar ul p{
	color: $font_color;
	padding: 10px;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover{
	color: $font_hover;
	background: $bg_hover;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: $bg_active;
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}
ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px !important;

}

#content{
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}

#toggle{
	// position: absolute;
	right: -28px;
}

.hamburger-menu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 20px;
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background: $bg_hamburger;
	z-index: 1;
}

.hamburger-menu ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
}
.hamburger-menu ul li a {
    color: $font_color;
    text-decoration: none;
    font-size: 25px;
    border-bottom: 2px solid $font_color;
}

.close 	{
	display: none;
	position: absolute;
	z-index: 2;
	right: 25px;
	top: 20px;
}

#immagine-profilo img	{
	width: 100%;
}


@media (max-width: 767px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    // #sidebarCollapse span {
    //     display: none;
    // }
}
