.messaggio  {
    background-color: $background;
    color: $font_color_dark;

    .messaggio-left {
        background-color: $bg_active_hover;
    }

    i  {
        color: $colore_primario;
    }
}
