.form-check-label.search {
    margin-bottom: 0;
    margin-right: 11px;
}

input[type=checkbox].search, input[type=radio].search {
    margin: 0 10px 0 0;
    line-height: normal;
}

.form-check-input.search {
    position: relative;

}
