.form-check-label.search {
    margin-bottom: 0;
    margin-right: 11px;
}

input[type=checkbox].search, input[type=radio].search {
    margin: 0 10px 0 0;
    line-height: normal;
}

.form-check-input.search {
    position: relative;

}

.gold-sponsor  {
    background-color: #FEECEB;

}

.btn-ricerca     {
    height: 40px;
    width: 75px;
    font-size: 14px;
    align-self: end;
    color: #feeceb;
    background-color: $colore_primario;
    border: 1px solid $colore_primario;
    border-radius: 7px;
}
