h1.show-titolo {
    color: $font_color_dark;
    font-size: 27px;
    font-weight: 600;
}

p.address.show-paragraph {
    color: #a0a3ab;
    font-size: 14px;
    font-weight: bold;
}

.show-dettagli {
    color: $font_color_dark;
    font-size: 18px;
    font-weight: 600;
}

#app > main > div.content-wrap > div:nth-child(2) {
    min-height: 540px;
}


#map {height: 300px;}
