// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Variabili custom
$menu_bg_color: #EADFC9;
$menu_hover: #BFDBCF;
$font_color_old: #93ADA4;

$bg_hamburger: #D94854;
$font_hover:#93ADA4;
$bg_hover:#f2ece1;

// Variabili New
$background: white;
$font_color: #757575;
$bg_active_hover: #f2f2f2;
$font_color_dark: #222;
$colore_primario: #f9423a;

//bordi
$radious: 7px;
